body {
  position: absolute;
  background-color: #999999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*, *:focus, *:active {
  outline: none !important;
}

.animate {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal {
  display: block !important;
}

#header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  .nav.nav-pills {
    a:hover {
      background-color: @gray-dark;
    }
    a.btn-primary:hover {
      background-color: @brand-success;
    }
  }
}

#sidebar {
  .animate();
  background-color: @gray-lighter;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 4;
  overflow-y: scroll;
  &.sidebar-closed {
    left: -100%;
  }
  &.sidebar-open {
    left: 0;
  }
}

#users {
  .animate();
}


#organizations {
  .btn-group {
    width: 100%;
    text-align: center;
    .btn {
      float: none;
      display: inline-block;
    }
  }
}

#taskList .panel {
  color: #777;
}
