<template name="createTimeEntry">
<button type="button" class="btn btn-primary btn-lg time-entry-btn" data-toggle="modal">
  Enter Time
</button>
{{ #if showTimeEntryModal "show" }}
<div class="modal fade in wide-modal" id='timeEntryModal' tabindex="-1" displayrole="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Hello</h1>
            </div>
            <div class="modal-body">
                What's UP!
            </div>
        </div>
    </div>
</div>
{{ /if }}
</template>
